.git
.github
node_modules
.output
.nitro
.tanstack
.vinxi
.wrangler
.netlify
dist
dist-ssr
*.log
.env
.env.*
!.env.example
.DS_Store
.vscode
.idea
supabase/.branches
supabase/.temp
README.md
DEPLOYMENT.md
